<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">LastStopSports</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="scrape_nba">NBA</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="http://www.rotoworld.com/sports/nba/basketball">Rotoworld</a></li>
						<li><a href="https://dailyfantasynerd.com/optimizer/fanduel/nfl">FantasyNerds</a></li>
						<li><a href="http://www.espn.com/nba/">ESPN</a></li>
            <li><a href="http://www.draftkings.com">DraftKings</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron">
	<div class="container">
		<h1 class="oddslabel">NFL Odds</h1>
    <% @nfl_entriesArray.each do |games| %>
      <div class="col-sm-3">
        <p class="odds">
          <br class="gameodds"><%= games.nflteamnames %> </br>
          Line: Hometeam -4<br>
        Over/Under: 186 </p>
      </div>
    <% end %>
		<br>
	</div>
</div>

<div class="container">
  <div class="row" style="display:inline-block">
  <%  all = TwitterApi.schefter + TwitterApi.matthewberry + TwitterApi.rapoport + TwitterApi.johnclayton + TwitterApi.mort + TwitterApi.nflbnn %>
  <%  all.each do |tweets| %>

  		<div class="col-md-4">
  			<h3><%= tweets.user.screen_name %></h3>
  			<p><%= tweets.text %></p>
        <h6><%= tweets.created_at %></h6>
  		</div>
      <% end %>
  </div>
</div>


</body>
