// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
	margin-bottom: 0;
}

body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.jumbotron {
	background: white;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: black;
	font-size: 26px;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
//how you get it to light up when you hover over a link/button
.btn-primary:hover {
	color: #27A967;
	background-color: white;
	border-color: white;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
//how you get the navbar it to light up when you hover over a link/button
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}

.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}

.col-md-4 {
border: solid;
width: 300px;
height: 300px;
}

.row {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;

}

/// For dropdown menu

ul li:hover ul {
	display: block;
}

ul ul {
	display: none;
	position: absolute;
}
////

.jumbotron .odds {
	font-size: 13px;
	font-family: "Lucida Sans Unicode"
}

h1.oddslabel {
	color: black;
	font-family: "Lucida Sans Unicode";

}

h6.gameodds {
	text-align: left;
	font-size: 12px;
	color: black;
}

mark.overUnder {
	background-color: #90EE90;
}
mark.gameLine {
	background-color: #E0FFFF;
}
